<html>
  <head>
    <title>Subscribe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Contact</h1>
      <br>
      <form method="post" action="/text_handler">
        <label for="yourname">Name:</label>
        <input type="text" name="yourname", value="{{ request.form.yourname }}" /><br />

        <label for="msg">Message:</label>
        <input type="text" name="msg", value="{{ request.form.msg }}" /><br />
        
        <input class="btn btn-default" type="submit" value="Text">
      </form>
    </div>
  </body>
</html>