<html>
  <head>
    <title>Unsubscribe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Unsunscribe...</h1>
      <br>
      <form method="post" action="/unsubscribe_handler">
        <label for="yourname">Name:</label>
        <input type="text" name="yourname", value="{{ request.form.yourname }}" /><br />
        
        <label for="youremail">Email:</label>
        <input type="text" name="youremail", value="{{ request.form.youremail }}" /><br />

        <label for="youremail">Phone:</label>
        <input type="text" name="yournum", value="{{ request.form.yournum }}" /><br />
        
        <input class="btn btn-default" type="submit" value="Unsubscribe">
      </form>
    </div>
  </body>
</html>